.container {
  color: rgb(17, 17, 17);
  height: 68vh;
  width: 61vw;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: row;
  font-size: 0.83vw;
  padding-left: 3vw;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 23vw;
  margin-right: 1vw;
}

.right {
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 3.05vw;
  font-weight: 900;
  margin: 0 0 -0.5vh 0;
  line-height: 0.95;
}

.subtitleRow {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  margin-top: -1vh;
  margin-bottom: 1vh;
}

.large {
  font-size: 4vw;
  font-weight: 900;
  margin: 0;
}

.subtitle {
  font-size: 1.5vw;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}

.description {
  font-size: 0.9vw;
  font-weight: normal;
  margin: 0;
  column-count: 2;
  column-gap: 0.5vw;
}

.image {
  object-fit: contain;
  width: 32vw;
  margin-bottom: 1vw;
}
