.container {
  display: flex;
  height: 107vh;
  padding-bottom: 7vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(17, 17, 17);
  color: white;
}

.container .body {
  text-align: center;
  font-size: 3.4vw;
  font-weight: 500;
  font-family: EditorialNew-Regular;
  text-transform: uppercase;
  width: 50%;
  position: relative;
  z-index: 1;
}

.container .body span {
  font-family: GreatVibes-Regularbes;
  font-size: 5.5vw;
  font-weight: 500;
  margin-right: 5px;
}

.container .body .pixel {
  font-family: Mondwest-Regular;
}